---
import BaseLayout from '../layouts/BaseLayout.astro';
import { FormSong } from '../components/FormSong';
// ui component
import { Button } from '@/components/ui/button';
// data types
import type { Song } from '@/data/type/song';

const url = new URL(Astro.request.url);
const id = url.searchParams.get("id");

let song: Song | null;
if(id){
  const res = await fetch(`${import.meta.env.SITE}/api/songs/${id}.json`);
  song = await res.json();
}
else song = null;
---

<BaseLayout>
  <div class="flex flex-col w-4xl gap-4">
    <div class="flex flex-row justify-between items-center">
      <h3 class="font-bold text-primary drop-shadow-[2px_2px_0px_rgba(0,0,0,1)]">
        { id ? "EDIT SONG" : "ADD SONG" }
      </h3>
      <a href="/view">
        <Button variant={'outline'} className='font-bold'> Back</Button>
      </a>
    </div>
    <FormSong song={song} client:load/>
  </div>
</BaseLayout>
