---
import BaseLayout from '../layouts/BaseLayout.astro';
import { FormSong } from '../components/FormSong';
---

<BaseLayout>
  <div class="flex flex-col w-4xl gap-4">
    <h3 class="font-bold text-primary drop-shadow-[2px_2px_0px_rgba(0,0,0,1)]">ADD SONGS</h3>
    <FormSong client:load/>
  </div>
</BaseLayout>
