---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";

import { Toaster } from "@/components/ui/sonner";

const { title = SITE_TITLE , description = SITE_DESCRIPTION, bg } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel = "icon" type = "image/svg+xml" + href= = "/favicon.svg"/>
        <meta name = "viewport" content= "width=device-width", initial-scale=1.0" />
        <meta name = "generator" content= {Astro.generator} />
        <BaseHead title={title} description={description} />
	</head>
	<body class={`flex flex-col min-h-screen shadow-sm bg-cover bg-center bg-no-repeat backdrop-blur-sm bg-secondary overflow-x-hidden`}
          style={bg ? `background-image: url('${bg}');` : ''}>
        <Header/>
            <main class={`flex w-full justify-center grow ${bg ? ``:`p-8`}`} >
                <slot />
            </main>
            <Toaster position='top-center' client:only="react" />
        <Footer/>
	</body>
</html>
